
.main{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 115, 0);
    position:relative;
    margin: 0px;
    width: 100%;
    
}
.main2{
    display: flex;
    gap:80px;
    padding-left: 200px;
    
}
.m0{
    padding-left: 40px;
    
}
.round{

    border-radius: 15px;
}
.main1{
    display: flex;
    padding-left: 50px;
    overflow: auto;
    cursor: pointer;
    
}
.p{
    display: flex;
    width: 100%;
}
.main3{
    display: flex;
    position: relative;

    gap: 80px;
    padding-left: 230px;
    
}
.main4{
    display: flex;
    gap: 80px;
    padding-left:220px;
    
}
.main5{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
    margin: 40px;


}
.main6{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 50px;
}
.main7{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.main8{
    display: flex;
    justify-content: space-between;
    padding:50px ;
}
.main9{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.main10{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.main11{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.main12{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.main13{
    justify-content: space-between;
    margin: 50px;
}
.r1{
    padding: 40px;
}
.main14{
    justify-content: space-between;
    padding: 100px;
    
    
}
.main15{
    justify-content: space-between;
    padding: 30px;
    display: flex;
    margin:left;
}
.footer{
background-color:black;
color: white;
text-align: center;
padding: 8dvh; 
position: relative;
justify-content: start;
bottom: 0;
width: 100%;
list-style-type: none;

}
.footer{
    margin-top: 150px;
    width: 80%;
    padding: 150px 15%;
    background:black;
    display: flex;
    color: white;
}
.footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;
    text-decoration: none;
    color: white;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1{
    display: block;
    text-decoration-style: none;
    margin-bottom: 10px;
}
body{
    width: 100%;
}
.k1{
    display: flex;
    margin: 50px;
    justify-content: space-between;
}